*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.contain{
    width:100vw;
    height:100vh;
    display:grid;
    place-items:center;
    background:url("https://images.pexels.com/photos/6264250/pexels-photo-6264250.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260z");
    background-size:cover;
    background-repeat: no-repeat;
    filter:brightness(110%)contrast(120%)saturate(120%)

}
.time{
    color:rgb(37, 37, 37);
    font-size:5vmin;
    background:rgba(255, 255, 255, 0.541);
    padding:3vmin;
    position: absolute;
    border-radius:4vmin;
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter: blur(20px);
}
button{
    position: absolute;
    background:royalblue;
    color:white;
    border:none;outline:none;
    padding:2vmin;
    border-radius:5vmin;
    font-weight: bold;
    font-size:3vmin;
    transform: translate(0%,15vmin);
}

button:hover{
    background:rgba(65, 105, 225, 0.685);
    
}

.date{
    color:rgb(37, 37, 37);
    font-size:5vmin;
    background:rgba(255, 255, 255, 0.541);
    padding:3vmin;
    position: absolute;
    border-radius:4vmin;
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter: blur(20px);
    left:5%;
    top:5%;
}